.nav-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  justify-content: center;
  border: solid 0.5px var(--white);
}

.img-logo {
  width: 80px;
}

.coin h2 {
  color: var(--white);
  font-family: var(--lato);
  font-size: 1.1rem;
  font-weight: 800;
}